/*
ThemeName = FutureGym
Author = Muhammad Junidy
Version = 3.0
*/
html,
body{
    padding: none;
    font-family: sans-serif;
    padding: -8px;
    padding-top: -10px;
    overflow-x: hidden;

}
.container{
  margin: 20px;
    width: 94%;
    margin-right: 137px;
    padding: 21px;
}

/*NAV MENU*/

.nav-menu{
    width: 900px;
    height: 60px;
    float: right;
    text-align: right;
    position: absolute;
    margin-right: 15px;
    margin-top: 60px;
    color: black;

        
}
.nav-menu a{
    color: white;
    text-decoration: none
    
}
.nav-menu a:visited{
    color: white
}
.nav-menu li{
    display: inline-block;
    width: auto;
    margin-right: 50px;
    padding: 2px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-style: italic
}
.nav-menu li::after{
    content: " ";
    display: block;
    width: 0;
    height: 6px;
    background-color: rgb(221, 31, 38);
    transition: all  0.1s;
    -webkit-transition: all  0.5s;
    -moz-transition: all  0.5s;
    -o-transition: all  0.5s;
}
.nav-menu li:hover::after{
    width: 100%;
}

.under{
    border-bottom: 6px solid rgb(221, 31, 38);
}
.under:hover::after{
    width: 0
}
.nav-menuP{
    width: 700px;
    height: 60px;
    float: right;
    text-align: right;
    position: absolute;
    margin-right: 15px;
    margin-top: 60px;
    color: black;

        
}
.nav-menuP li{
    display: inline-block;
    width: auto;
    margin-right: 50px;
    padding: 2px;
    text-align: center;
    font-size: 1.5em;
    color: #dd1f25;
    font-style: italic
}
.nav-menuP li::after{
    content: " ";
    display: block;
    width: 0;
    height: 6px;
    background-color: rgb(221, 31, 38);
    transition: all  0.1s;
    -webkit-transition: all  0.5s;
    -moz-transition: all  0.5s;
    -o-transition: all  0.5s;
}
.nav-menuP li:hover::after{
    width: 100%;
}

.under{
    border-bottom: 6px solid rgb(221, 31, 38);
}
.under:hover::after{
    width: 0
}
    
.fullSlider{
    overflow: hidden
}    
.fullSlider div{
    display: inline-block;
}
.frontCrew{
     background: url('images/slide1.jpg');
    background-size: cover;
    margin-top: -8px;
    width: 100%;
    margin-left: -6px;

}
.frontJoin{
     background: url('images/slide1.JPG');
    background-size: cover;
    margin-top: -8px;
    margin-left: -6px;
    width: 100%
}
.frontPage{
    background: url('images/slide1.jpg');
    background-size: cover;
    margin-left: -6px;
    margin-top: -8px;
    width: 100%
}
.slideContent{
    height: 300px;
    width: 400px;
    float: right;
    color: white;
    margin-top: 15%;
    text-align: right;
    margin-right: 5%
}
.slideContent h2{
    font-size: 2.9em;
    font-style: italic;
    font-weight: bold
}
.slideContent p{
    font-size: 1.2em;
    font-style: italic
    
}
.onSlide{
    height: 80px;
    width: 100%;

    background-color: white;
    z-index: 1000;
    margin-top: -10px;
    margin-left: -8px;
    border-bottom: 1px solid black
    

}
.onSlide ul{
    list-style: none;
    float: right;
    margin-right: 60px
    
}
.onSlide ul li{
    display: inline-block;
    color: white;
    margin-right: 50px;
    
    
}
.onSlide ul li a{
    color:  rgb(221, 31, 38);;
    text-decoration: none;
    text-align: right;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 50px
}
.frontButt{
    margin-left: 28%;
    margin-bottom: 7%;
    margin-top: 1%;
    height: 50px;
    background-color: rgb(221, 31, 38);
    width: 150px;
    color: white;
	font-size: 13px;
	font-weight: bold;
    border: none;
	transition: all 0.5s ease-in-out;
    font-style: italic
}
.frontButt:hover{
    	background-color: dodgerblue

}

   /************************************************************************************************/
.divs{
    width: 100%;
    height: 350px;
    text-align: center
}
.divs p{
    font-style: italic;
    color: #9e9e9e
}
.divs h2{
    font-size: 1.5em;
    color: darkblue;
    font-style: italic
}
.divs .cont{
    width: 100%;
    height: 100%;
    margin-bottom: 60px
}
.cont div{
    
    display: inline-block;
    margin-right: 4%;
    margin-left:4% 
}
.spa{
    background: url('images/slide5.JPG');
    background-size: cover;
    width: 0%;
    height: 300px;
    position: relative;
}
.fittnes{
    background: url('images/slide3.JPG');
    background-size: cover;
     width: 0%;
    height: 300px;
    display: inline-block;
    position: relative;
}
.iron{
    background: url(images/slide2%20%E2%80%AB%E2%80%AC.JPG);
    background-size: cover;
    width: 0%;
    height: 0;
    display: inline-block;
    position: relative;

}

.overlay{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:  #1b3453;
    opacity: 0.4;
    transition: all ease-in-out 0.1s;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    overflow: hidden

}
.spa:hover #overlay1{
    opacity: 0
}
.fittnes:hover #overlay2{
    opacity: 0;
}
.iron:hover #overlay3{
    opacity: 0
}
.info{
    
    position: absolute;
    width: 72%;
    z-index: 100;
    height: 84px;
    text-align: right;
    direction: rl;
    margin: auto;
    top: 45%;
    bottom: 0;
    right: 0;
    left: 20%;
    opacity: 0;
}

 
.info h3{
    font-size: 1.5em;
    color: white;
    font-style: italic;
    margin-top: -1%
}
.info p a{
    color: #FFF;
    background: #dd1f26;
    padding: 4px;
    font-style: italic
}
.blog{
    width: 91%;
    height: 500px;
    padding: 50px;
    margin-top: 88px;
    text-align: right;
}
.blog h3{
    font-size: 1.5em;
    color: darkblue;
    font-style: italic
}
.blog p{
    margin-top: -2%;
    font-size: 1.3em
}
.post-info{
   color:#cccccc;
    font-size: 14px;
    position: absolute;
    top: 64px;
    right: 30px;
    font-weight: bold;
}
.blog a:visited{
    color: black;
    
}
.blog span a:visited{
    color:  #34495e
}
.blog span a{
    color: #34495e
}
.BLOG p a:visited{
    color:#27ae60
}
.blog p a{
    color: #27ae60
}
.posts{
    height: 700px;
    float: right;
}
.post{
    height: 165px;
    padding: 0px;
    float: right;
    width: 800px;
    border: 1px dotted grey;
    margin-bottom: 50px;
    position: relative
}
.blog h2{
    margin-bottom: 33px
}
.textPost{
    width: 560px;
    padding: 20px;
    padding-top: 8px;
    position: relative
}
.post img{
    display: block;
    float: right;
    position: absolute;
    top: 0;
    left: 635px
}

.post-body{
    padding: 60PX;
    text-align: right;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 250px
}
.post-body h2 a:visited{
    color: black;
    margin-right: 30px;
    margin-left: 30px
}
.post-body p{
    color: #4e4949;
    line-height: 1.5em;
    
}
.post-menu{
    width: 97%;
height: 50px;
margin-top: 50px;
margin-right: 23px;
}
.post-menu li{
    display: inline-block;
    width: auto;
    margin-right: 50px;
    padding: 2px;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: black;
    float: right;
    cursor: pointer
}
.post-menu li::after{
    content: " ";
    display: block;
    width: 0;
    height: 6px;
    background-color: rgb(221, 31, 38);
    transition: all  0.1s;
    -webkit-transition: all  0.5s;
    -moz-transition: all  0.5s;
    -o-transition: all  0.5s;
}
.post-menu li:hover::after{
    width: 100%;
}
.hajs{
    width: 100%;
    height: 200px
}
.large-thumb{
    float: right;
    margin-right: 81px;
    margin-top: 20px
}
.item{
    background: url(images/ps_anotest-318x400.png) no-repeat;
    background-size: contain;
    height: 150px;
   width: 109px;
    margin-left: 82px;

}
.items-shop{
    height: 650px;
    width: 97%;
    background: url(bg-dumbbel.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
    position: relative
}
.items-shop h2{
    font-size: 1.5em;
    color: darkblue;
    font-style: italic;
    float: right
}
.items-shop p{
    margin-top: 0;
    font-size: 1.3em;
    float: right
}
.shop-title{
    width: 600px;
    height: 200px;
    margin-right: 30px;
    float: right
}
.saleItems{
    position: absolute;
    top: 262px;
    list-style: none;
    height: 300px;
}
.saleItems li{
    width: 13.6%;
    height: 250px;
    display: inline-block;
    text-align: center;
}
.saleItems .item img{
    height: auto;
    width: 150px
}
.infoItem{
text-align: center
}
.saleItems span i{
    position: absolute;
    top: 200px;
    cursor: pointer
}
.crew{
    width: 100%;
    height: 300px
}
.crew .crew-st{
    list-style: none;
    
}
.crew .crew-st li {
    display: inline-block;
    width: 22%;
    height: 300px;
    margin-right: 2%
}
.crew .crew-st li:first-of-type{
    background: url(images/personnel-3.jpg);
    background-size: cover;
    
}
.crew .crew-st li:nth-of-type(2){
    background: url(images/trainer1.jpg);
    background-size: cover
}
.crew .crew-st li:nth-of-type(3){
    background: url(images/trainer2.jpg);
    background-size: cover
}
.crew .crew-st li:last-of-type{
    background: url(images/trainer3.jpg);
    background-size: cover
}
.crew-title{
    text-align: right;
    margin-right: 5%;

}
.crew-title h2{
    color: darkblue;
    font-style: italic;
    margin-bottom: -20px
    
}
.crew-title p{
    font-style: italic;
    font-weight: bold
}
.crew .crew-st li{
    text-align: center
}
.crew .crew-st li h3{
    display: block;
    color: white;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    margin-top: 210px
}
.crew .crew-st li p{
    color: #eaeaea;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic
}
.footer{
    width: 100%;
    height: 336px;
    background-color: #1b3453;
    margin-left: -8px;
    position: relative;
    margin-top: -3em;
    clear: both
        
}
.ad{
    height: 210px;

}
.ad  {
    list-style:none;
    width: 16%;
    border-right: 0.01px solid white;
        padding-right: 20px

    
}
.ad li:first-of-type{
    background: url(images/white-logo.png) no-repeat;
    height: 30px;
    max-width: 113px;
    background-size: contain
}
.ad  li{
    text-align:right;
    color: white;
    margin-top: 6.25px;
    font-size: 0.8em;
    padding-right: 6px
}
.ad li:nth-of-type(5){
    margin-top: 20px
}
.dayliy-Scd{
    width: 79%;
    float: right;
    text-align: right;
    margin-top: -248px;
    color: white;

}

.dayliy-Scd ul{
    list-style: none;
    
}
.dayliy-Scd ul li span{
    background-color: red;
    font-style: italic;
    width: 20px
}
.container:last-of-type{
    border-bottom: 1px solid white
}
.woman{
    margin-right: 335px;
    margin-top: -129px;

}
.footer p{
    
    color: #fbfbfb;
    text-align: center;
    font-size: 0.8em;
}
/******************PAGES***********************/
.firstDiv{
    height: 400px;
    width: 100%;
    background: url(images/map-01.jpg) no-repeat;
    background-size: cover;
    background-position: center
}
.theSections{
    
    width: 100%;
    height: 900px
    
}
.theSections p{
    font-style: italic;
    color: #9e9e9e;
    margin-right: 10%;
    text-align: right;
}
.theSections h2{
    font-size: 1.5em;
    color: darkblue;
    font-style: italic;
    text-align: right;
    margin-right: 10%

}
.theSections .allShit{
    width: 100%;
    height: 900px;
    margin-top: 2%;
    margin-left: 7%
}
.allShit div{
    width: 28%;
    height: 100%;
}
.allShit .firstCol{
    float: left;
    margin-left: 2%;
    position: relative
}
.allShit .firstCol div{
        margin-bottom: 6px

}
.allShit .firstCol .cardio{
    height: 0;
    width: 0%;
    background: url(images/f29eecfdba6616acabeef9e2125f5920.jpg) no-repeat;
    background-size: cover;
    position: relative;
    
}
.allShit .firstCol .cardio:hover .overlay{
    display: none
}
.allShit .firstCol .cardio .info2{
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    z-index: 1000
    
}
.allShit .firstCol .cardio .info2 h2{
    color: black
}
.allShit .firstCol .spining{
    height: 0;
    width: 0%;
    background: url(images/spinning-1200x500.jpg) no-repeat;
    background-size: contain;
    position: relative;
    
}
.allShit .firstCol .spining:hover .overlay{
    display: none
}
.allShit .firstCol .kickBoxing{
     height: 0;
    width: 0;
    background: url(images/boxing.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.allShit .firstCol .kickBoxing:hover .overlay{
    display: none
}
.allShit .midCol{
    float: left;
    margin-left: 2%
}
.allShit .midCol div{
    margin-bottom: 6px
}
.allShit .midCol .theSpa{
     height: 0;
    width: 0;
    background: url(images/spa.jpg) no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden
}
.allShit .midCol .theSpa:hover .overlay{
    display: none
}
.allShit .midCol .weightLifting{
    height: 0;
    width: 0;
    background: url(images/weightLifting.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.allShit .midCol .weightLifting:hover .overlay{
    display: none
}
.allShit .midCol .zumba{
    height: 0;
    width: 0;
    background: url(images/zumba.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.allShit .midCol .zumba:hover .overlay{
    display: none
}
.allShit .lastCol{
    margin-left: 1%;
    float: left
}
.allShit .lastCol div{
    margin-bottom: 6px
}
.allShit .lastCol .parkour{
    height: 0;
    width: 0;
    background: url(images/Parkour-main.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.allShit .lastCol .parkour:hover .overlay{
    display: none
}
.allShit .lastCol .strength{
    height:0;
    width: 0;
    background: url(images/deadlift_main.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.allShit .lastCol .strength:hover .overlay{
    display: none
}
.allShit .lastCol .fitnes{
   height: 0;
    width: 0;
    background: url(images/campus-muscle-trainint-partner-4.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.allShit .lastCol .fitnes:hover .overlay{
    display: none
}
.allShit .lastCol .doctor{
    height: 0;
    width: 0;
    background: url(images/Nutritionist.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.allShit .lastCol .doctor:hover .overlay{
    display: none
}
.details{
    z-index: 100000000000000000000000000;
    color: white;
    position: absolute;
    top: 63%;
    left: 68%;
    text-align: right;
    display: none;  
}
.details a,
.details a:visited{
    color: white
}
.details span{
    background-color: #dd1f26;
    padding: 3px;
    border-radius: 4px;
    font-style: italic;

}
.details h3{
    font-size: 1.3em;
    font-style: italic;
    margin-top: -3px;
}

.detailsTall{
    left: 201px;
    top: 345px;

}
.detailsTall2{
    left: 44%;
    top: 80%;
    

}
.childPageFront{
    height: 400px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%
}
.childCardio{
    background: url(images/running.jpg);
    background-size: cover;
}
.childKickBoxing{
    background: url(images/kickBoxing.jpg);
    background-size: cover;
}
.childZumba{
    background: url(images/childZumba.jpg);
    background-size: cover
}
.childParkour{
    background: url(images/Parkour-main.jpg);
    background-size: cover
}
.childStrength{
    background: url(images/deadlift_main.jpg);
    background-size: cover
}
.childFitnes{
    background: url(images/campus-muscle-trainint-partner-4.jpg);
    background-size: cover
}
.childDoctor{
    background: url(images/Nutritionist.jpg);
    background-size: cover
}
.childweightLifting{
    background: url(images/page.jpg);
    background-size: cover
}
.childDetails{
    text-align: right;
    height:500px;
    width: 58%;
    float: right;
    margin-right: 2%;

}
.childDetails h2{
    color: #1b3453;
    font-style: italic;

}
.timeTable{
    width: 26%;
    height: 400px;
    float: left;
    margin-left: 9%
}
.timeTable h2{
    color: #1b3453;
    font-style: italic;;
    text-align: right
}
.timeTable p{
    font-style: italic;
    color: #9e9e9e;
    margin-top: -3%;
    text-align: right;
}
.timeTable ul{
    width: 85%;
    height: 100%;
    list-style: none;
}
.timeTable ul li{
    background-color: #cccccc;
    width: 100%;
    height: 6   .666%;
    font-style: italic;
    color: #1b3453;
    text-align: right;
    margin-bottom: 1%;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}
.timeTable ul li span{
    float: left;
    color: #999;
    font-style: italic;
}
.childPageTall{
    float: left;
    height: 650px;
    width: 300px
}
.chidSpinning{
    background: url(images/spinning-1200x500.jpg) no-repeat;
    background-size: contain;
    margin-top: 10px
}
.timeTableTall{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px
}
.childspa{
     background: url(images/spa.jpg) no-repeat;
    background-size: contain;
    margin-top: 10px
}
.theSection p{
    font-style: italic;
    color: #9e9e9e;
    margin-right: 10%;
    text-align: right;
}
.theSection h2{
    font-size: 1.5em;
    color: darkblue;
    font-style: italic;
    text-align: right;
    margin-right: 10%

}
.crewMem{
    width: 90%;
    height: 600px;
    margin-left: 10%;
    margin-bottom: 6%
}
.crewRow:first-of-type{
    width: 100%;
    height: 300px;
    margin-bottom: 2%
    
}
.mem{
    width: 23%;
    height: 300px;
    margin-right: 1%;
    float: left;
    position: relative
   
}
.trainer1{
     background: url(images/trainer1.jpg)no-repeat;
    background-size: contain;
    display: none
}
.trainer2{
    background: url(images/trainer2.jpg) no-repeat;
    background-size: contain;
    display: none

}
.trainer3{
    background: url(images/trainer3.jpg) no-repeat;
    background-size: contain;
    display: none
            
}
.trainer4{
    background: url(images/personnel-3.jpg) no-repeat;
    background-size: contain;
    display: none

}
.trainer5{
    background: url(images/trainer7.jpg) no-repeat;
    background-size: contain;
    display: none
            
}
.trainer6{
    background: url(images/trainer4.jpg) no-repeat;
    background-size: contain;
    display: none

}
.trainer7{
    background: url(images/trainer5.jpg) no-repeat;
    background-size: contain;
    display: none

}
.trainer8{
    background: url(images/trainer6.jpg) no-repeat;
    background-size: contain;
    display: none

}
.trainerInfo{
    position: absolute;
    background-color: rgb(64, 64, 64, 0.5);
    color: white;
    width: 88%;
    height: 50px;
    display: none;
    margin: auto;
    bottom: 0%;
    left: -10%;
}
.trainerInfo span{
    font-style: italic;
    display: block;
    margin-top: -19px;
    text-align: right;

}
.trainerInfo h2{
    
    margin-top: -24px;
    text-align: right;
    font-style: italic

}
.frontMembership{
    background: url(images/membership.jpg) no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
    margin-left: -6px;
    position: relative
}
.memDetails{
    position: absolute;
    top: 80px;
    left: 42%;
    color: white;
    font-style: italic;
    text-align: center;
    display: none
}
.memDetails h2{
    font-size: 2.5em;
    
} 
.memDetails p{
    font-size: 0.9em;
    
}
.joinButt{
    width: 207px;
    height: 50px;
    color: white;
    background-color:  rgb(221, 31, 38);
    transition: 0.2s ease-in-out all;
    border: none;
    font-size: 1.5em;
    font-style: italic;
    margin-top: 45px
}
.joinButt:hover{
    background-color: white;
    color: black
}
.joinBenf{
    width: 80%;
    height: 650px;
    margin-left: 10%
}
.joinBenf .benfRow{
    width: 100%;
    height: 300px;
}
.joinBenf .benfRow .benf{
    height: 100%;
    width: 30%;
    margin-right: 3%;
    float: left;
    position: relative
}
.joinBenf > .theSection h2{
    margin-right: 0%
}
.joinBenf > .theSection p{
    margin-right: 0%
}
.benf span{
    position: absolute;
    display: block;
    right: 0
}
.benf span i{
    color: rgb(221, 31, 38);
    text-align: right
}
.benfInfo{
    text-align: right;
    height: 80%;
    width: 100%;
    margin-top: 66px;
    font-size: 

}
.benfInfo h2{
    font-style: italic;
    color: #1b3453
}
.benfInfo p{
    color: darkgray
}
.joinTheTeam{
    width: 80%;
    margin: 0 auto;
    height: 150px;
    background-color: #dddddd;
    margin-top: 24px;
    -webkit-box-shadow: 0px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 85px
}
.TheTeam{
    width: 100%;
    height: 100%;
    color: #333;
    font-style: italic
}
.theTeamDetails {
    width: 70%;
    float: right;
    height: 100%;
    text-align: right;
    margin-top: -32px;
    margin-right: 20px;

}
.theTeamJ{
    float: left;
    margin-top: 28px;
    margin-left: 10px;

}
.gymPrograms{
    width: 100%;
    margin: 30px auto;
    height: 700px
}
.programs{
    width: 91%;
    height: 46%;
    margin-bottom: 25px;
    margin-left: 120px;

}
.programs:last-of-type{
    margin-bottom: none
}
.eachProgram{
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 6px;
    position: relative
        
}
.eachProgram:first-of-type{
    margin-left: none
}
.programTitle{
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #1b3453
}
.programTitle h2{
    font-size: 2em;
}

   
.programFet {
    list-style: none;
    width: 99.6%;
    height: 74%;
    text-align: center;
    position: absolute;
    margin: auto;
    left: -14%;
}
.programFet li{
    height: 30%;
    background-color: #1c395e ;
    width: 100%;
    padding-top: 6px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #334d6e;

    
}
.programFet li button{
    width: 150px;
    height: 40px;
    background-color: #1b3453;
    color: white;
    font-style: italic;
    border: none;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}
.programFet li button:hover{
    color: #ddd
}
.info a,
.info2 a,
.info3 a{
    margin-right: -6px;
    font-size: 15px;
    color: white
}
.info a:visited,
.info2 a:visited,
.info3 a:visited{
    margin-right: -6px;
    font-size: 15px;
    color: white
}
.aarchive{
    margin-top: 0px
}
.cv{
    height: 500px;
    width: 100%
}
.picture{
   width: 258px;
    height: 398px;
    background: url(images/Muhammad.jpg) no-repeat;
    background-size: cover;
    float: right;
    margin-right: 81px;
    background-position: -117px 39px;

}
.cvInfo{
    width: 500px;
    height: 200px;
    float: right;
    margin-top: 11%;
    margin-right: 10px;
        border: 1px solid grey


}
.infoIcons{
    height: 200px;
    width: 40px;
    float: right;
    text-align: center;
    margin-right: 20px;
    color: #89C4F4;


}
.infoIcons i{
    margin-top: 6px
}
.infoInfo{
   height: 200px;
    width: 300px;
    float: right;
    margin-right: 42px;
    text-align: right;
    font-size: 21px;
    margin-top: -22px;
}


}